.search-bar-container {
    position: absolute;
    left: 50px;
    right: 140px;
}


.search-bar-container > div:first-child {
    margin: 8px auto;
    max-width: 800px;
    width: 100%;
}

.search-bar-container .element-count {
    position: fixed;
    top: 22px;
    right: 40px;
}

@media screen and (max-width: 420px) {

    .search-bar-container {
        right: 60px;
    }

    .search-bar-container .element-count {
        display: none;
    }
}
