[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-cors-headers = "*"
django-oauth-toolkit = "*"
drf-extensions = "*"
django = "==1.11"


[dev-packages]

