.radio-button {
    margin-top: 15px;
}

.collection-source {
    width: 570px;
    margin: auto;
}

.collection-source > div {
    vertical-align: top;
    display: inline-block;
}

.collection-source > div:first-child {
    width: 290px;
}

.collection-source > div:not(:first-child) {
    width: 200px;
}

.collection-source > div {
    margin: 0 20px;
}

.collection-source:not(.external) .external-content {
    display: none;
}

.collection-source:not(.duplicate) .duplicate-content {
    display: none;
}

