@import "../../../../styles/variables";

.Search {
  position: absolute;
  left: 265px;
  right: 140px;

  > div:first-child {
    margin: 8px auto;
    max-width: 800px;
    width: 100%;
  }

  .ElementCount {
    position: fixed;
    top: 22px;
    right: 40px;
    color: $bright-color;
  }

  @media screen and (max-width: 710px) {
    left: 65px;
    right: 65px;

    .ElementCount {
      display: none;
    }
  }
}
