/*.progress {
    margin: 120px 0;
}

.movie-poster {
    display: inline-block;
    width: 185px;
    text-align: center;
}

.movie-poster img {
    margin-bottom: -4px;
}

.movie-poster .empty {
    height: 280px;
    background: rgb(100,100,100);
}*/