.content-grid-container {
    height: calc(100% - 70px);
    margin-top: 50px;
}

.content-grid-container > div {
    height: 100%;
}

.content-grid {
    height: 100%;
    position: relative;
    margin: auto;
}

.scrollarea {
    height: 100%;
}

@media screen and (max-width: 460px) {
    .content-grid {
        width: calc(225px + 1px);
    }
}

@media screen and (min-width: 461px) and (max-width: 710px) {
    .content-grid {
        width: calc(225px * 2 + 1px);
    }
}

@media screen and (min-width: 711px) and (max-width: 1025px) {
    .content-grid {
        width: calc(225px * 3 + 1px);
    }
}

@media screen and (min-width: 1026px) and (max-width: 1282px) {
    .content-grid {
        width: calc(225px * 4 + 1px);
    }
}

@media screen and (min-width: 1283px) and (max-width: 1538px) {
    .content-grid {
        width: calc(225px * 5 + 1px);
    }
}

@media screen and (min-width: 1539px) and (max-width: 1794px) {
    .content-grid {
        width: calc(225px * 6 + 1px);
    }
}

@media screen and (min-width: 1795px) {
    .content-grid {
        width: calc(225px * 7 + 1px);
    }
}