@import "../../../../styles/mixins";

.CollectionBox {
  display: flex;
  position: relative;
  flex-direction: column;

  .Title {
    @include sub-title();

    margin-top: 1rem;
    text-align: center;

    &:hover {
      height: auto;
      white-space: normal;
      word-break: break-all;
    }
  }

  .Icon {
    position: absolute;
  }

  @for $i from 1 through 4 {
    $ratio: $i * 0.25;

    &[data-ratio="#{$ratio}"] {
      margin: (2rem * $ratio) (4rem * $ratio);

      & .Icon {
        top: 360px * $ratio;
        left: 265px * $ratio;
        height: 48px * $ratio !important;
        width: 48px * $ratio !important;
      }
    }
  }
}
