@import "../../../styles/variables";

.DialogSearchElement {
  .Body {
    padding: 0 !important;
    position: relative;
    display: flex;
    flex-direction: column;

    .SearchBar {
      display: block;
      margin: 2rem;

      > div {
        background-color: $light-background-color !important;
      }
    }

    .Grid {
      padding-bottom: 20rem;
    }
  }
}
