.movie-grid-container {
    height: calc(100% - 70px);
    margin-top: 50px;
}

.movie-grid-container > div {
    height: 100%;
}

.movie-grid {
    height: 100%;
    margin: auto;
}

.scrollarea {
    height: 100%;
}

@media screen and (max-width: 420px) {
    .movie-grid {
        width: calc(205px + 1px);
    }
}

@media screen and (min-width: 421px) and (max-width: 630px) {
    .movie-grid {
        width: calc(205px * 2 + 1px);
    }
}

@media screen and (min-width: 631px) and (max-width: 1025px) {
    .movie-grid {
        width: calc(205px * 3 + 1px);
    }
}

@media screen and (min-width: 1026px) and (max-width: 1282px) {
    .movie-grid {
        width: calc(205px * 4 + 1px);
    }
}

@media screen and (min-width: 1283px) and (max-width: 1538px) {
    .movie-grid {
        width: calc(205px * 5 + 1px);
    }
}

@media screen and (min-width: 1539px) and (max-width: 1794px) {
    .movie-grid {
        width: calc(205px * 6 + 1px);
    }
}

@media screen and (min-width: 1795px) {
    .movie-grid {
        width: calc(205px * 7 + 1px);
    }
}