@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.MainDrawer {
  > div > div:nth-child(2) {
    overflow: hidden !important;
    display: flex;
    flex-direction: column;

    .TitleBar {
      background-color: $light-background-color !important;
    }

    .Content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .Section {
        &:last-child {
          flex-grow: 1;
          display: flex;
          align-items: flex-end;
        }

        & > div {
          width: 100%;
          line-height: 46px;
          height: 46px;
          display: block;
        }

        & a {
          display: block;
          height: 48px;
          margin: 0 -16px;

          & > svg {
            @include icon();

            position: absolute;
            height: 24px;
            top: 11px;
            left: 11px;
          }

          & > div {
            position: absolute;
            left: 50px;
          }
        }
      }
    }
  }
}
