.element-overlay .grade {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.element-overlay:not(.testing) {
    opacity: 0;
}

.element-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: calc(100% - 8px);
    color: white;
    padding: 4px;
    line-height: 1.5em;
    background: rgba(0,0,0,0.5);
    transition: opacity 0.3s ease-in-out;
}

.element-overlay:hover {
    opacity: 1;
}

.element-overlay .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    line-height: 2em;
}

.element-overlay .footer .footer-content {
    text-align: center;
    cursor: pointer;
}

.element-overlay .top-left-icon, .element-overlay .top-right-icon {
    position: absolute;
    top: 0;
    padding: 5px;
}

.element-overlay .top-left-icon {
    left: 0;
}

.element-overlay .top-right-icon {
    right: 0;
}

.element-overlay .top-left-icon.private-action, .element-overlay .top-right-icon.private-action {
    cursor: pointer;
}