@import "../../../../styles/variables";

.Line {
  line-height: 2.5rem;
  height: 2.5rem;
  text-align: left;
  position: relative;

  &Active .Content {
    background: $bright-color;
  }

  .Content {
    display: inline-block;
    float: right;
    padding: 2px 15px;
    margin: 4px 0;
    height: 2.5rem;
    width: 200px;
    border-radius: 5px;
    color: $textColor;
    outline: none;
  }

  &:not(&Active) .Content:hover {
    background: #ffa000;
    cursor: pointer;
  }
}
