@import "../../../../styles/variables";

.Line {
  line-height: 2.5em;
  height: 3em;
  text-align: left;
  position: relative;

  .Content {
    display: inline-block;
    float: right;
    padding: 2px 15px;
    margin: 4px 0;
    height: calc(3em - 12px);
    width: 200px;
    border-radius: 5px;
    color: $textColor;
    outline: none;

    &:hover {
      background: #ffa000;
      cursor: pointer;
    }
  }

  &Active .Content:hover {
    background: #ff6f00;
  }
}
