/* stylelint-disable */
.tv-show-details .expand {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.tv-show-details .content {
    position: relative;
    height: 100%;
}

.tv-show-details .title {
    padding: 5px 15px;
    font-size: 1.5em;
    line-height: 1.5em;
}

.tv-show-details .progress {
    height: 40px;
    padding: 88px 0;
    text-align: center;
}

.tv-show-details .episodes-list {
    height: 200px;
    overflow: hidden;
}

.tv-show-details .footer {
    white-space: nowrap;
}