@import "../../../../styles/mixins";

.CollectionBox {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 250px;
  margin: 2rem;

  .Title {
    @include sub-title();

    padding-left: 5px;
    text-align: center;

    &:hover {
      height: auto;
      white-space: normal;
      word-break: break-all;
    }
  }

  .Icon {
    position: absolute;
    bottom: 3.2rem;
    right: 3rem;
  }
}
