@import "../../../styles/mixins";
@import "../../../styles/variables";

.Header {
  > div {
    height: 64px;
    background-color: $light-background-color !important;
  }

  .Icon {
    @include icon();
  }

  &WithSearch {
    h1 {
      flex: none !important;
      width: 200px;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      display: block;
    }

    @media screen and (max-width: 710px) {
      h1 {
        display: none;
      }
    }
  }
}
