.TextField {
  position: absolute;
  display: flex;
  right: 0;
  top: -5px;

  > .Content {
    margin-left: 20px;

    input {
      text-align: left;
    }
  }

  .Icon {
    background-color: red;
  }
}
