.tv-show-parent {
    display: inline-block;
    margin: 20px 20px;
    position: relative;
    width: 185px;
    height: 340px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.tv-show-parent:not(.ready) {
    opacity: 0;
}


.tv-show-parent .title {
    display: block;
    position: absolute;
    top: calc(100% - 42px);
    left: 0;
    width: 185px;
    line-height: 21px;
}

.tv-show-parent .title > div:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 21px;
}

.tv-show-parent .title > div:last-child:hover {
    height: auto;
    white-space: normal;
    word-break: break-all;
}

.tv-show-container {
    height: 278px;
    width: 185px;
    display: inline-block;
    vertical-align: top;
}

.tv-show {
    position: relative;
}

.tv-show img {
    margin-bottom: -4px;
}

.tv-show-frame  {
    height: 278px;
    width: 185px;
    display: inline-block;
    vertical-align: top;
}

.tv-show-parent .expand {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    text-align: right;
    cursor: pointer;
}