@media screen and (max-width: 575px) {
    .collection-list-container {
        width: calc(230px + 1px);
    }
}

@media screen and (min-width: 576px) and (max-width: 862.5px) {
    .collection-list-container {
        width: calc(230px * 2 + 1px);
    }
}

@media screen and (min-width: 863.5px) and (max-width: 1150px) {
    .collection-list-container {
        width: calc(230px * 3 + 1px);
    }
}

@media screen and (min-width: 1151px) and (max-width: 1437.5px) {
    .collection-list-container {
        width: calc(230px * 4 + 1px);
    }
}
@media screen and (min-width: 1438.5px) {
    .collection-list-container {
        width: calc(230px * 5 + 1px);
    }
}

.collection-list-container {
    margin: auto;
}