.movie-parent {
    display: inline-block;
    margin: 20px 20px;
    position: relative;
    width: 185px;
    height: 340px;
}

.movie-parent:not(.ready) {
    height: 0 !important;
}

.movie-parent .title {
    display: block;
    position: absolute;
    top: calc(100% - 42px);
    left: 0;
    width: 185px;
    line-height: 21px;
}

.movie-parent .title > div:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 21px;
}

.movie-parent .title > div:last-child:hover {
    height: auto;
    white-space: normal;
    word-break: break-all;
}

.movie-container {
    height: 278px;
    width: 185px;
    display: inline-block;
    vertical-align: top;
}

.movie {
    position: relative;
}

.movie img {
    margin-bottom: -4px;
}
