.movie-parent {
    display: inline-block;
    margin: 20px 20px;
    position: relative;
    width: 185px;
    height: 340px;
}

.movie-parent .title {
    display: block;
    height: 42px;
    line-height: 21px;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.movie-container {
    height: 278px;
    width: 185px;
    display: inline-block;
    vertical-align: top;
}

.movie img {
    margin-bottom: -4px;
}

.movie .overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 270px;
    color: white;
    padding: 4px;
    line-height: 1.5em;
    background: rgba(0,0,0,0.5);
    transition: opacity 0.3s ease-in-out;
}

.movie:hover .overlay {
    opacity: 1;
}

.movie .overlay-main {
    height: calc(100% - 2em);
}

.movie .add-icon {
    height: 80% !important;
    width: 80% !important;
    margin: 10% !important;
}