.movie-parent {
    display: inline-block;
    margin: 20px 20px;
    position: relative;
    width: 185px;
    height: 340px;
}

.movie-parent .title {
    display: block;
    height: 42px;
    line-height: 21px;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.movie-container {
    height: 278px;
    width: 185px;
    display: inline-block;
    vertical-align: top;
}

.movie {
    position: relative;
}

.movie img {
    margin-bottom: -4px;
}
