@import "./variables";

@mixin base-title() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $titleColor;
}

@mixin title() {
  @include base-title();

  font-size: 2em;
  line-height: 2em;
}

@mixin sub-title() {
  @include base-title();

  height: 2em;
  line-height: 2em;
  font-size: 1.5em;
}

@mixin icon() {
  & * {
    color: $bright-color !important;
  }

  & circle {
    stroke: $bright-color !important;
  }
}

@mixin button($size: 96px) {
  width: $size !important;
  height: $size !important;
  padding: $size / 4 !important;

  svg {
    width: $size / 2 !important;
    height: $size / 2 !important;
  }
}

@mixin bottom-right-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;

  & button {
    background-color: $light-background-color !important;
  }

  & svg {
    color: $bright-color !important;
    fill: $bright-color !important;
  }
}

@mixin element-grid() {
  padding: 2rem 0;
  position: relative;
  margin: auto;

  @media screen and (max-width: 460px) {
    width: calc(225px + 1px);
  }

  @media screen and (min-width: 461px) and (max-width: 710px) {
    width: calc(225px * 2 + 1px);
  }

  @media screen and (min-width: 711px) and (max-width: 1025px) {
    width: calc(225px * 3 + 1px);
  }

  @media screen and (min-width: 1026px) and (max-width: 1282px) {
    width: calc(225px * 4 + 1px);
  }

  @media screen and (min-width: 1283px) and (max-width: 1538px) {
    width: calc(225px * 5 + 1px);
  }

  @media screen and (min-width: 1539px) and (max-width: 1794px) {
    width: calc(225px * 6 + 1px);
  }

  @media screen and (min-width: 1795px) {
    width: calc(225px * 7 + 1px);
  }
}

@mixin material-shadow($strength: 2) {
  @if $strength == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  @else if $strength == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  @else if $strength == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  @else if $strength == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  @else if $strength == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
