@import "../../../styles/variables";

.SearchOptions {
  max-width: 800px;
  width: 80%;
  margin: 1.5rem auto;
  padding: 1.5rem;
  background: $light-background-color !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .Option {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 50%;
  }
}

