@import "../../../../styles/mixins";

.RegularOverlay {
  line-height: 1.5em;

  .Grade {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .Footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    line-height: 2em;

    & .Content {
      text-align: center;
      cursor: pointer;
    }
  }

  .TopLeftIcon,
  .TopRightIcon {
    position: absolute;
    top: 0;
    padding: 5px;
  }

  .TopLeftIcon {
    left: 0;

    &Private {
      cursor: pointer;
    }
  }

  .TopRightIcon {
    right: 0;

    &Private {
      cursor: pointer;
    }
  }
}
