.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  padding: 4px;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  display: flex;

  &:not(&TestingMode) {
    opacity: 0;
  }

  &:hover {
    opacity: 1;
  }

  > * {
    flex-grow: 1;
  }
}
