.tv-show-parent .details {
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    height: 340px;
    z-index: 2;
}

.tv-show-parent .details .content {
    position: relative;
    height: 100%;
}

.tv-show-parent .details .title {
    padding: 5px 15px;
    font-size: 1.5em;
    line-height: 1.5em;
}

.tv-show-parent .details .progress {
    width: 40px;
    height: 40px;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}

.tv-show-parent .details .footer {
    height: 36px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}