.tv-show-details .expand {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.tv-show-details .content {
    position: relative;
    height: 100%;
}

.tv-show-details .title {
    padding: 5px 15px;
    font-size: 1.5em;
    line-height: 1.5em;
}

.tv-show-details .progress {
    width: 40px;
    height: 40px;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}

.tv-show-details .episodes-list {
    height: calc(100% - 62px - 1.5em);
    overflow: hidden;
}

.tv-show-details .footer {
    height: 36px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
